
<div class="container1">
   
        <p > 
            <mat-toolbar color="primary">
              <span>My App</span>
              <span class="example-spacer"></span>
              <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>login</mat-icon>
              </button> -->
              <button *ngIf="!isAuthenticated.value" mat-flat-button color="primary" (click)="toSignUp()">Signup</button>
              <button *ngIf="!isAuthenticated.value" mat-flat-button color="primary" (click)="toLogin()">Login</button>
              <button *ngIf="isAuthenticated.value" mat-flat-button color="primary" (click)="toLogout()">Logout</button>
            </mat-toolbar>
          </p>
          

    <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <div>
          <a routerLink="/" class="list-group-item list-group-item-action">Search Listing</a>
        </div>
        <div *ngIf="this.userRole === 'customer' || this.userRole === 'guest'; else noneDiv"> 
          <a routerLink="/booked_listing" class="list-group-item list-group-item-action">Booked Listings</a>
        </div>
        <div *ngIf="this.userRole === 'admin' else noneDiv">
          <a routerLink="/addnew_listing" class="list-group-item list-group-item-action">Add New Listing</a>
        </div>
        <div *ngIf="this.userRole === 'admin' else noneDiv">
          <a routerLink="/viewAdded_listing" class="list-group-item list-group-item-action">View Added Listing</a>
        </div>
        <ng-template #noneDiv>
          <div></div>
        </ng-template>
      </div>
    </div>
  
    <div class="col-md-9" >
      <router-outlet></router-outlet>
    </div>
    </div>
  
  
  
  
  </div>