
<div fxFlexFill>
    <mat-card fxFlex = "50">
        <mat-toolbar color="primary"  style="border-radius: 3px;">Add New Listing</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" style="margin-top: 10px;" >

            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Listing Id" [formControl]="ListingIdControl">
                <mat-error *ngIf="ListingIdControl.invalid">{{getErrorMessage_ListingId()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Listing Title" [formControl]="ListingTitleControl">
                <mat-error *ngIf="ListingTitleControl.invalid">{{getErrorMessage_ListingTitle()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Description" [formControl]="DescriptionControl">
                <mat-error *ngIf="DescriptionControl.invalid">{{getErrorMessage_Description()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Street" [formControl]="StreetControl">
                <mat-error *ngIf="StreetControl.invalid">{{getErrorMessage_Street()}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="City" [formControl]="CityControl">
                <mat-error *ngIf="CityControl.invalid">{{getErrorMessage_City()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Postal Code" [formControl]="PostalCodeControl">
                <mat-error *ngIf="PostalCodeControl.invalid">{{getErrorMessage_PostalCode()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Price" [formControl]="PriceControl">
                <mat-error *ngIf="PriceControl.invalid">{{getErrorMessage_Price()}}</mat-error>
            </mat-form-field>

            <!-- <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Email" [formControl]="EmailControl">
                <mat-error *ngIf="EmailControl.invalid">{{getErrorMessage_Email()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="User Name" [formControl]="UserNameControl">
                <mat-error *ngIf="UserNameControl.invalid">{{getErrorMessage_UserName()}}</mat-error>
            </mat-form-field> -->
   
            <button mat-raised-button color="primary" (click)="add()">ADD</button>
        </form>
    </mat-card>
</div>